
@import "base.scss";

/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

html {
  font-size: 112.5%; /* Increase the default font size on small devices */
}

#pe-header-center {
	margin: -.5em;
}

#pe-header-center-information {
	margin: -1em;
}

#pe-header-center-information h6 {
	font-size: .5em;
}

#pe-header-left {
	margin-top:-1em;
}

#pe-header-right {
	margin-top:-1em;
}

#pe-footer-copyright h6 {
	font-size: .5em;
}

//
//	CAblecast
//

.meetings-view-title h2 {
	font-size: .9em;
}

.meetings-view-wrapper div.more-link a {
	text-align: left;
	font-size: .8em;
}

.cablecast-show h6 {
	font-size: .9em;
}

.cablecast-show img {
	width: 100%;
}

.cablecast-show ul {
	padding-left: 0%;
}

.cablecast-show ul li {
	padding: .4%;
	float: none;
	width: 98%;
}

.copyright-generator {
	font-size: .7em;
}

