@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\000036}}
body {
  background-color: #b1c2b3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000311}}
#pe-site-panel {
  margin: 2em auto;
  max-width: 1140px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000325}}
.pe-leaderboard-region-wrapper {
  background-color: #f5fcd0;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000336}}
#pe-header-region-wrapper {
  margin: 3em auto 0px;
  max-width: 1140px;
  width: 100%;
  background-color: #f5fcd0;
  border-radius: 10px 10px 0px 0px;
  border-width: 5px;
  border-style: outset outset none outset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000350}}
#pe-header-left {
  margin-top: -2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000359}}
#pe-header-center-information {
  margin: -2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000363}}
#pe-header-right {
  margin-top: -2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000368}}
#pe-menu-bar-region-wrapper {
  margin: 0px auto;
  max-width: 1140px;
  width: 100%;
  background-color: #f5fcd0;
  -webkit-box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000379}}
.pe-help-region-wrapper {
  background-color: #f5fcd0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000383}}
.pe-secondary-region-wrapper {
  background-color: #f5fcd0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\0000387}}
#pe-main-content-region-wrapper {
  margin: 0px auto;
  max-width: 1140px;
  width: 100%;
  background-color: #f5fcd0;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\00003100}}
#pe-menu-test {
  margin: 0px auto;
  max-width: 1140px;
  width: 100%;
  background-color: #f5fcd0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\00003114}}
.pe-tertiary-region-wrapper {
  background-color: #f5fcd0;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\00003127}}
.pe-footer-region-wrapper {
  background-color: #b1c2b3;
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/H\:\/xampp\/htdocs\/WrenthamCableAccessDrupal\/sites\/all\/themes\/custom\/wcac_at_panels_everywhere\/sass\/styles\.custom\.scss}line{font-family:\00003132}}
#pe-footer-copyright h6 {
  font-size: .8em;
}
