//
// styles.custom.scss
// My custom styles.
//

body {
	background-color: #cccc99;
}

#pe-site-panel {
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	background-color:#ccc5c5;
	border:solid black;
}